<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Wordpress API</a>
  </div>
</nav>
<div class="section no-pad-bot">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a good company ;)</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by Aleksandr Sokolov
    </div>
  </div>
</footer>
