<div class="row">
  <div class="col s12 m12">
    <div class="card blue-grey darken-1">
      <div class="card-action">
        <button class="btn waves-effect waves-light white-text" (click)="loadPosts()">
          Fetch 3 random posts
        </button>
        <button class="btn waves-effect waves-light white-text" (click)="loadComents()">
          Fetch one comment for each post
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!isLoaded">
  <ab-loader></ab-loader>
</div>

<ng-container *ngIf="isLoaded">
  <div class="row" *ngFor="let post of posts">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
          <span class="card-title" [innerHTML]="post.title"></span>
          <div [innerHTML]="post.content" class="post-content" [@slide]="post.opened ? 'opened' : 'closed'"
               [ngClass]="{'opened':post.opened}"></div>
          <div class="center">
            <button class="waves-effect waves-teal btn expand_btn"
                    (click)="post.opened=!post.opened">
              <ng-container *ngIf="!post.opened">
                <i class="material-icons left">expand_more</i> Expand
              </ng-container>
              <ng-container *ngIf="post.opened">
                <i class="material-icons left">expand_less</i> Close
              </ng-container>
            </button>
          </div>
          <hr>
          <div>
            <small>
              Posted in {{post.date|moment}}, by {{post.author.name}}
            </small>
          </div>
          <hr>
          <div class="center-align" *ngIf="!post.comments_load && !post.comments_loading">
            Click button FETCH ONE COMMENT FOR EACH POST at the top of the page to load comment
          </div>
          <div class="center-align" *ngIf="post.comments_loading">
            <div class="col s12 m12">
              <ab-loader></ab-loader>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="comments" *ngIf="post.comments_load">
            <h5>Comments</h5>
            <div class="comment" *ngFor="let comment of post.comments">
              <div class="comment-avatar">
                <img src="{{comment.author.avatar_URL}}" alt="" class="circle responsive-img">
              </div>
              <div class="comment-text">
                <h5>{{comment.author.name}}</h5>
                <div [innerHTML]="comment.content"></div>
              </div>
            </div>
            <div class="center-align" *ngIf="!post.comments">
              The post has no comments
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
