@import "~materialize-css/sass/components/color-variables";
@import "~materialize-css/sass/components/variables";

.post-content:not(.opened) {
  //max-height: 50px;
  overflow: hidden;
}

.expand_btn {
  margin: 10px;
}

.comment {
  position: relative;
  word-wrap: break-word;
  .comment-avatar {
    width: 100px;
    float: left;
    margin: 10px;
  }
  .comment-text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 120px);
  }
  @media only screen and (max-width: $medium-screen) {
    .comment-avatar {
      width: 50px;
      margin: 5px;
    }
    .comment-text {
      width: calc(100% - 60px);
    }
  }
}

.card-action button {
  margin-right: 5px;
  margin-bottom: 5px;
}
